*{
  box-sixing: border-box;
}

.main-header{
 background: url("https://s-media-cache-ak0.pinimg.com/originals/c9/dc/fd/c9dcfd4828168766adb1e32617e6eafb.jpg");
 background-size: 1206px 710px;
  
}

.about, .movies, .books{
  border: 3px solid black;
  padding: auto;
  margin: 10px;
}

body{
  background-size: 1206px 620px;
  background-color: pink;
 
}

h1{
 font: 90px league gothic, san serif;
 letter-spacing: 10px;
 margin:0;
 color: pink;
}

img{
  width:40%;
  display:block;
 margin: auto;
 padding: 20px;
  
}

h2,h3{
  font: 2.5em league gothic, san serif;
  margin: 0px;
  
}
p,ul{
  font: 1.25em avenir, san serif;
}
.book{
  margin: 0 auto;
  width: 200px
}

.button{
  display: block;
  margin: 0 auto;
  size: 60px;
  background-color:white;
  border-radius: 10%;
  font: 1em avenir, san serif;  
  border: 5px solid black;
  
}

ul{
  list-style: none;
}

@media (min-width: 769px) {
  .container{
     width:70%;
    margin: 0 auto;
    max-width: 1000px;
  }
}